.highlight {
  font-style: italic;
  font-weight: bold;
}

.float-right {
  float: right;
}

div p {
  text-align: left;
}

img {
  height: 250px;
}

.row.blue-frame {
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.row.green-frame {
  border: 2px solid lightgreen;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}
